
<style>
  header{
    background: #003049;
    display: flex;
    width: 100vw;
    padding: 25px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 70px;
  }
  a{
    margin-left: 50px;
    text-decoration: none;
    color: #fdf0d5;
    font-size: 20px;
  }
  a:hover{
    color: #d4c8b0;
    }

</style>

<header>
  <nav>
    <a href="{{ url_for('feed', ordem='desc') }}">Feed</a>
    <a href="{{ url_for('profile', user_id=current_user.id) }}">Perfil</a>
    <a href="{{ url_for('logout') }}">Sair</a>
  </nav>
</header>